<div id="cart">
	<div class="icon-wrap header-cart posr df aic jcc ta2">
		<svg width="19" height="21"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#cart"></use></svg>
		<span id="cart-total" class="df jcc posa{{ items == 0 ? ' hidden'}}">{{ items }}</span>
	</div>
</div>

