<div class="cart-pannel ta" data-cart-pannel>
	<div class="cart-close posa" data-cart-close>
		<svg width="40" height="40"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#cross"></use></svg>
	</div>
	<div class="cart-title">ZAWARTOŚĆ KOSZYKA</div>
	<div class="cart-list" data-cart-list>{{ cart_list }}</div>
</div>	