<div id="search" class="search-pannel">
	<div class="inner df aic">
		<button type="button" class="btn-search">
			<svg width="19" height="19"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#search"></use></svg>
		</button>
		<input type="text" name="search" value="{{ search }}" placeholder="Szukaj w naszym sklepie" class="form-control input-lg" />
		<button type="button" class="btn-close df aic jcc" data-search-close>
			<svg><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#cross"></use></svg>
		</button>
		<button id="button-search-go" type="button" class="btn-go-search df aic">
			<svg width="21" height="13"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#go-arrow"></use></svg>
		</button>
	</div>
</div>