<div class="module-last-articles">
	<div class="module-top df aic jcsb">
		<h3 class="module-title">{{name}}</h3>
		<a href="{{cat_href}}" class="btn-transparent df aic ta">
			Zobacz więcej
			<svg><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#btn-arrow"></use></svg>
		</a>
	</div>
	<div class="blog-row df fww">
		{%include 'noir/template/parts/articles.twig'%}
	</div>
	<div class="mobile-button hidden">
		<a href="{{cat_href}}" class="btn-transparent dif aic ta">
			Zobacz więcej
			<svg><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#btn-arrow"></use></svg>
		</a>
	</div>
</div>
