<div class="nr-shipping-banner df aic">
	<div class="module-left">
		<div class="about-title">
			<div class="cursive-title">Darmowa</div>
			<div class="block-title">dostawa</div>
		</div>
		<div class="text">{{text}}</div>
		<a href="{{href}}" class="btn btn-gold dif aic jcc">
			Check the details
			<svg><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#btn-arrow"></use></svg>
		</a>
	</div>
	<div class="module-right">
		<img src="/catalog/view/theme/noir/img/mod_shipping.png" class="hero-label" alt="">
	</div>
</div>