<div class="form-block df aic"data-error="reward">
	<div class="form-block-label">
		<span>Wykorzystać punktów</span>
		<div>Dostępne punkty: <b data-points>{{points}}</b></div>
	</div>
	<div class="form-block-box" >
		<input type="text" name="reward" value="{{ reward }}" />
		<div class="form-error"></div>
	</div>
	<button type="button" class="btn" onclick="saveReward()">ok</button>
</div>